#gitignore
.vscode
.idea
.bash
.DS_Store
/src/github.com/kwbasedb
/docker
/native
/log
/report
/install
/build*
/qa/TEST_integration
/qa/Integration/basic/1e/*.diff
/qa/Integration/basic/1e_3t/*.diff
/qa/Integration/memory/*fake

common/util/kwdb/server/build
common/util/script/kwdb
common/util/ksql/build

cmake-build-debug/

kwdbts/server/src/mmap/avro/build/
!kwdbts/server/src/mmap

.libs-build
