> create ts database test_geometry;
CREATE TS DATABASE
> create table test_geometry.t1 (k_timestamp timestamptz not null,
  e1 int not null) ATTRIBUTES (
code1 geometry not null,
code2 int ) PRIMARY TAGS(code1);
ERROR: tag code1: unsupported tag type geometry in timeseries table
SQLSTATE: 42809
> show create table test_geometry.t1;
ERROR: relation "test_geometry.t1" does not exist
SQLSTATE: 42P01
> set sql_safe_updates = false;
SET
> drop database if exists test_geometry cascade;
DROP DATABASE
