> create ts database ts1;
CREATE TS DATABASE
> use ts1;
SET
> create table t1(ts timestamp not null, a int, b nchar, c nchar(16), d nvarchar, e nvarchar(16), f varbytes, g varbytes(16)) tags (taga int not null) primary tags (taga);
CREATE TABLE
> create table defaultdb.t1(a int, b nchar, c nchar(16), d nvarchar, e nvarchar(16), f bytes);
CREATE TABLE
> Insert into defaultdb.t1 values(1, 'h', 'hello, world!', 'hello, world!', 'hello, world!', 'hello, world!');
INSERT 1
> Insert into defaultdb.t1 values(2, '你', '你好世界！', '你好世界！', '你好世界！', '你好世界！');
INSERT 1
> Insert into defaultdb.t1 values(3, 'こ', 'こんにちは', 'こんにちは', 'こんにちは', 'こんにちは');
INSERT 1
> Insert into defaultdb.t1 values(4, 'κ', 'καλημέρα', 'καλημέρα', 'καλημέρα', 'καλημέρα');
INSERT 1
> Insert into defaultdb.t1 values(5, '~', '~!@#$%^&*(', '~!@#$%^&*(', '~!@#$%^&*(', '~!@#$%^&*(');
INSERT 1
> Insert into defaultdb.t1 values(6, '1', '123456', '123456', '123456', '123456');
INSERT 1
> Insert into defaultdb.t1 values(7, '1', '1234567891011121', '1234567891011121', '1234567891011121', '1234567891011121');
INSERT 1
> Insert into defaultdb.t1 values(9, b'\xe4\xb8\xad', b'\xe4\xb8\xad\xe6\x96\x87', b'\xe4\xb8\xad\xe6\x96\x87', b'\xe4\xb8\xad\xe6\x96\x87', b'\xe4\xb8\xad\xe6\x96\x87');
INSERT 1
> Insert into defaultdb.t1 values(10, '👿', '👿', '👿', '👿', '👿');
INSERT 1
> Insert into defaultdb.t1 values(11, '\xe4\xb8\xad', '\xe4\xb8\xad\xe6\x96\x87', '\xe4\xb8\xad\xe6\x96\x87', '\xe4\xb8\xad\xe6\x96\x87', '\xe4\xb8\xad\xe6\x96\x87');
ERROR: could not parse "\\xe4\\xb8\\xad\\xe6\\x96\\x87" as type bytes: encoding/hex: invalid byte: U+005C '\'
SQLSTATE: 22P02
> Insert into defaultdb.t1 values(12, b'a', b'abc', b'abc', b'abc', b'abc');
INSERT 1
> Insert into t1 values(1, 1, 'h', 'hello, world!', 'hello, world!', 'hello, world!', 'hello, world!', 'hello, world!', 1);
INSERT 1
> Insert into t1 values(2, 2, '你', '你好世界！', '你好世界！', '你好世界！', '你好世界！', '你好世界！', 1);
INSERT 1
> Insert into t1 values(3, 3, 'こ', 'こんにちは', 'こんにちは', 'こんにちは', 'こんにちは', 'こんにちは', 1);
INSERT 1
> Insert into t1 values(4, 4, 'κ', 'καλημέρα', 'καλημέρα', 'καλημέρα', 'καλημέρα', 'καλημέρα', 1);
INSERT 1
> Insert into t1 values(5, 5, '~', '~!@#$%^&*(', '~!@#$%^&*(', '~!@#$%^&*(', '~!@#$%^&*(', '~!@#$%^&*(', 1);
INSERT 1
> Insert into t1 values(6, 6, '1', '123456', '123456', '123456', '123456', '123456', 1);
INSERT 1
> Insert into t1 values(7, 7, '1', '1234567891011121', '1234567891011121', '1234567891011121', '1234567891011121', '1234567891011121', 1);
INSERT 1
> Insert into t1 values(9, 9, b'\xe4\xb8\xad', b'\xe4\xb8\xad\xe6\x96\x87', b'\xe4\xb8\xad\xe6\x96\x87', b'\xe4\xb8\xad\xe6\x96\x87', b'\xe4\xb8\xad\xe6\x96\x87', b'\xe4\xb8\xad\xe6\x96\x87', 1);
INSERT 1
> Insert into t1 values(10, 10, '👿', '👿', '👿', '👿', '👿', '👿', 1);
INSERT 1
> Insert into t1 values(11, 11, '\xe4\xb8\xad', '\xe4\xb8\xad\xe6\x96\x87', '\xe4\xb8\xad\xe6\x96\x87', '\xe4\xb8\xad\xe6\x96\x87', '\xe4\xb8\xad\xe6\x96\x87', '\xe4\xb8\xad\xe6\x96\x87', 1);
ERROR: value '\xe4\xb8\xad' too long for type NCHAR (column b)
SQLSTATE: 22001
> Insert into t1 values(12, 12, b'a', b'abc', b'abc', b'abc', b'abc', b'abc', 1);
INSERT 1
> select a, b, c, d, e from defaultdb.t1 order by a;
  a  | b  |        c         |        d         |        e
-----+----+------------------+------------------+-------------------
   1 | h  | hello, world!    | hello, world!    | hello, world!
   2 | 你 | 你好世界！       | 你好世界！       | 你好世界！
   3 | こ | こんにちは       | こんにちは       | こんにちは
   4 | κ  | καλημέρα         | καλημέρα         | καλημέρα
   5 | ~  | ~!@#$%^&*(       | ~!@#$%^&*(       | ~!@#$%^&*(
   6 | 1  | 123456           | 123456           | 123456
   7 | 1  | 1234567891011121 | 1234567891011121 | 1234567891011121
   9 | 中 | 中文             | 中文             | 中文
  10 | 👿 | 👿               | 👿               | 👿
  12 | a  | abc              | abc              | abc
(10 rows)
> select a, b::bytes,c::bytes,d::bytes,e::bytes,f::bytes from defaultdb.t1 order by a;
  a  |     b      |                 c                  |                 d                  |                 e                  |                 f
-----+------------+------------------------------------+------------------------------------+------------------------------------+-------------------------------------
   1 | \x68       | \x68656c6c6f2c20776f726c6421       | \x68656c6c6f2c20776f726c6421       | \x68656c6c6f2c20776f726c6421       | \x68656c6c6f2c20776f726c6421
   2 | \xe4bda0   | \xe4bda0e5a5bde4b896e7958cefbc81   | \xe4bda0e5a5bde4b896e7958cefbc81   | \xe4bda0e5a5bde4b896e7958cefbc81   | \xe4bda0e5a5bde4b896e7958cefbc81
   3 | \xe38193   | \xe38193e38293e381abe381a1e381af   | \xe38193e38293e381abe381a1e381af   | \xe38193e38293e381abe381a1e381af   | \xe38193e38293e381abe381a1e381af
   4 | \xceba     | \xcebaceb1cebbceb7cebcceadcf81ceb1 | \xcebaceb1cebbceb7cebcceadcf81ceb1 | \xcebaceb1cebbceb7cebcceadcf81ceb1 | \xcebaceb1cebbceb7cebcceadcf81ceb1
   5 | \x7e       | \x7e21402324255e262a28             | \x7e21402324255e262a28             | \x7e21402324255e262a28             | \x7e21402324255e262a28
   6 | \x31       | \x313233343536                     | \x313233343536                     | \x313233343536                     | \x313233343536
   7 | \x31       | \x31323334353637383931303131313231 | \x31323334353637383931303131313231 | \x31323334353637383931303131313231 | \x31323334353637383931303131313231
   9 | \xe4b8ad   | \xe4b8ade69687                     | \xe4b8ade69687                     | \xe4b8ade69687                     | \xe4b8ade69687
  10 | \xf09f91bf | \xf09f91bf                         | \xf09f91bf                         | \xf09f91bf                         | \xf09f91bf
  12 | \x61       | \x616263                           | \x616263                           | \x616263                           | \x616263
(10 rows)
> select a, b::string,c::string,d::string,e::string,f::string from defaultdb.t1 order by a;
  a  | b  |        c         |        d         |        e         |                 f
-----+----+------------------+------------------+------------------+-------------------------------------
   1 | h  | hello, world!    | hello, world!    | hello, world!    | \x68656c6c6f2c20776f726c6421
   2 | 你 | 你好世界！       | 你好世界！       | 你好世界！       | \xe4bda0e5a5bde4b896e7958cefbc81
   3 | こ | こんにちは       | こんにちは       | こんにちは       | \xe38193e38293e381abe381a1e381af
   4 | κ  | καλημέρα         | καλημέρα         | καλημέρα         | \xcebaceb1cebbceb7cebcceadcf81ceb1
   5 | ~  | ~!@#$%^&*(       | ~!@#$%^&*(       | ~!@#$%^&*(       | \x7e21402324255e262a28
   6 | 1  | 123456           | 123456           | 123456           | \x313233343536
   7 | 1  | 1234567891011121 | 1234567891011121 | 1234567891011121 | \x31323334353637383931303131313231
   9 | 中 | 中文             | 中文             | 中文             | \xe4b8ade69687
  10 | 👿 | 👿               | 👿               | 👿               | \xf09f91bf
  12 | a  | abc              | abc              | abc              | \x616263
(10 rows)
> select a, ascii(b), ascii(c), ascii(d), ascii(e) from defaultdb.t1 order by a;
  a  | ascii  | ascii  | ascii  | ascii
-----+--------+--------+--------+---------
   1 |    104 |    104 |    104 |    104
   2 |  20320 |  20320 |  20320 |  20320
   3 |  12371 |  12371 |  12371 |  12371
   4 |    954 |    954 |    954 |    954
   5 |    126 |    126 |    126 |    126
   6 |     49 |     49 |     49 |     49
   7 |     49 |     49 |     49 |     49
   9 |  20013 |  20013 |  20013 |  20013
  10 | 128127 | 128127 | 128127 | 128127
  12 |     97 |     97 |     97 |     97
(10 rows)
> select a, greatest(b), greatest(c), greatest(d), greatest(e), greatest(f) from defaultdb.t1 order by a;
  a  | greatest |     greatest     |     greatest     |     greatest     |              greatest
-----+----------+------------------+------------------+------------------+-------------------------------------
   1 | h        | hello, world!    | hello, world!    | hello, world!    | \x68656c6c6f2c20776f726c6421
   2 | 你       | 你好世界！       | 你好世界！       | 你好世界！       | \xe4bda0e5a5bde4b896e7958cefbc81
   3 | こ       | こんにちは       | こんにちは       | こんにちは       | \xe38193e38293e381abe381a1e381af
   4 | κ        | καλημέρα         | καλημέρα         | καλημέρα         | \xcebaceb1cebbceb7cebcceadcf81ceb1
   5 | ~        | ~!@#$%^&*(       | ~!@#$%^&*(       | ~!@#$%^&*(       | \x7e21402324255e262a28
   6 | 1        | 123456           | 123456           | 123456           | \x313233343536
   7 | 1        | 1234567891011121 | 1234567891011121 | 1234567891011121 | \x31323334353637383931303131313231
   9 | 中       | 中文             | 中文             | 中文             | \xe4b8ade69687
  10 | 👿       | 👿               | 👿               | 👿               | \xf09f91bf
  12 | a        | abc              | abc              | abc              | \x616263
(10 rows)
> select a, concat(b,'1'), concat(c,'1'), concat(d,'1'), concat(e,'1') from defaultdb.t1 order by a;
  a  | concat |      concat       |      concat       |      concat
-----+--------+-------------------+-------------------+--------------------
   1 | h1     | hello, world!1    | hello, world!1    | hello, world!1
   2 | 你1    | 你好世界！1       | 你好世界！1       | 你好世界！1
   3 | こ1    | こんにちは1       | こんにちは1       | こんにちは1
   4 | κ1     | καλημέρα1         | καλημέρα1         | καλημέρα1
   5 | ~1     | ~!@#$%^&*(1       | ~!@#$%^&*(1       | ~!@#$%^&*(1
   6 | 11     | 1234561           | 1234561           | 1234561
   7 | 11     | 12345678910111211 | 12345678910111211 | 12345678910111211
   9 | 中1    | 中文1             | 中文1             | 中文1
  10 | 👿1    | 👿1               | 👿1               | 👿1
  12 | a1     | abc1              | abc1              | abc1
(10 rows)
> select a, concat(b,b), concat(c,c), concat(d,d), concat(e,e) from defaultdb.t1 order by a;
  a  | concat |              concat              |              concat              |              concat
-----+--------+----------------------------------+----------------------------------+-----------------------------------
   1 | hh     | hello, world!hello, world!       | hello, world!hello, world!       | hello, world!hello, world!
   2 | 你你   | 你好世界！你好世界！             | 你好世界！你好世界！             | 你好世界！你好世界！
   3 | ここ   | こんにちはこんにちは             | こんにちはこんにちは             | こんにちはこんにちは
   4 | κκ     | καλημέρακαλημέρα                 | καλημέρακαλημέρα                 | καλημέρακαλημέρα
   5 | ~~     | ~!@#$%^&*(~!@#$%^&*(             | ~!@#$%^&*(~!@#$%^&*(             | ~!@#$%^&*(~!@#$%^&*(
   6 | 11     | 123456123456                     | 123456123456                     | 123456123456
   7 | 11     | 12345678910111211234567891011121 | 12345678910111211234567891011121 | 12345678910111211234567891011121
   9 | 中中   | 中文中文                         | 中文中文                         | 中文中文
  10 | 👿👿   | 👿👿                             | 👿👿                             | 👿👿
  12 | aa     | abcabc                           | abcabc                           | abcabc
(10 rows)
> select a, last(b), last(c), last(d), last(e), last(f) from defaultdb.t1 order by a;--relational table does not support last operator
ERROR: last() can only be used in timeseries table query or subquery
SQLSTATE: 0A000
> select concat_agg(b::string), concat_agg(c::string), concat_agg(d::string), concat_agg(e::string), concat_agg(f::string) from defaultdb.t1 group by a order by a;
  concat_agg |    concat_agg    |    concat_agg    |    concat_agg    |             concat_agg
-------------+------------------+------------------+------------------+-------------------------------------
  h          | hello, world!    | hello, world!    | hello, world!    | \x68656c6c6f2c20776f726c6421
  你         | 你好世界！       | 你好世界！       | 你好世界！       | \xe4bda0e5a5bde4b896e7958cefbc81
  こ         | こんにちは       | こんにちは       | こんにちは       | \xe38193e38293e381abe381a1e381af
  κ          | καλημέρα         | καλημέρα         | καλημέρα         | \xcebaceb1cebbceb7cebcceadcf81ceb1
  ~          | ~!@#$%^&*(       | ~!@#$%^&*(       | ~!@#$%^&*(       | \x7e21402324255e262a28
  1          | 123456           | 123456           | 123456           | \x313233343536
  1          | 1234567891011121 | 1234567891011121 | 1234567891011121 | \x31323334353637383931303131313231
  中         | 中文             | 中文             | 中文             | \xe4b8ade69687
  👿         | 👿               | 👿               | 👿               | \xf09f91bf
  a          | abc              | abc              | abc              | \x616263
(10 rows)
> select a, length(b), length(c), length(d), length(e), length(f) from defaultdb.t1 order by a;
  a  | length | length | length | length | length
-----+--------+--------+--------+--------+---------
   1 |      1 |     13 |     13 |     13 |     13
   2 |      1 |      5 |      5 |      5 |     15
   3 |      1 |      5 |      5 |      5 |     15
   4 |      1 |      8 |      8 |      8 |     16
   5 |      1 |     10 |     10 |     10 |     10
   6 |      1 |      6 |      6 |      6 |      6
   7 |      1 |     16 |     16 |     16 |     16
   9 |      1 |      2 |      2 |      2 |      6
  10 |      1 |      1 |      1 |      1 |      4
  12 |      1 |      3 |      3 |      3 |      3
(10 rows)
> select * from defaultdb.t1 where b = 'h';
  a | b |       c       |       d       |       e       |              f
----+---+---------------+---------------+---------------+-------------------------------
  1 | h | hello, world! | hello, world! | hello, world! | \x68656c6c6f2c20776f726c6421
(1 row)
> select * from defaultdb.t1 where c = '中文';
  a | b  |  c   |  d   |  e   |       f
----+----+------+------+------+-----------------
  9 | 中 | 中文 | 中文 | 中文 | \xe4b8ade69687
(1 row)
> select * from defaultdb.t1 where c = b'\xcc\xbb\xee';
ERROR: lexical error: invalid UTF-8 byte sequence
SQLSTATE: 42601
DETAIL: source SQL:
SET ROW (@3 = e'\u033B\xee':::STRING)
              ^
HINT: try \h SET SESSION
> select * from defaultdb.t1 where c = b'\xe4\xb8\xad\xe6\x96\x87';
  a | b  |  c   |  d   |  e   |       f
----+----+------+------+------+-----------------
  9 | 中 | 中文 | 中文 | 中文 | \xe4b8ade69687
(1 row)
> select * from defaultdb.t1 where b like 'h%' and c like 'h%' and d like 'h%' and e like 'h%';
  a | b |       c       |       d       |       e       |              f
----+---+---------------+---------------+---------------+-------------------------------
  1 | h | hello, world! | hello, world! | hello, world! | \x68656c6c6f2c20776f726c6421
(1 row)
> select * from defaultdb.t1 where c like '中%' and d like '中%' and e like '中%';
  a | b  |  c   |  d   |  e   |       f
----+----+------+------+------+-----------------
  9 | 中 | 中文 | 中文 | 中文 | \xe4b8ade69687
(1 row)
> select * from t1 order by a;
               ts               | a  | b  |        c         |        d         |        e         |                 f                  |                 g                  | taga
--------------------------------+----+----+------------------+------------------+------------------+------------------------------------+------------------------------------+-------
  1970-01-01 00:00:00.001+00:00 |  1 | h  | hello, world!    | hello, world!    | hello, world!    | \x68656c6c6f2c20776f726c6421       | \x68656c6c6f2c20776f726c6421       |    1
  1970-01-01 00:00:00.002+00:00 |  2 | 你 | 你好世界！       | 你好世界！       | 你好世界！       | \xe4bda0e5a5bde4b896e7958cefbc81   | \xe4bda0e5a5bde4b896e7958cefbc81   |    1
  1970-01-01 00:00:00.003+00:00 |  3 | こ | こんにちは       | こんにちは       | こんにちは       | \xe38193e38293e381abe381a1e381af   | \xe38193e38293e381abe381a1e381af   |    1
  1970-01-01 00:00:00.004+00:00 |  4 | κ  | καλημέρα         | καλημέρα         | καλημέρα         | \xcebaceb1cebbceb7cebcceadcf81ceb1 | \xcebaceb1cebbceb7cebcceadcf81ceb1 |    1
  1970-01-01 00:00:00.005+00:00 |  5 | ~  | ~!@#$%^&*(       | ~!@#$%^&*(       | ~!@#$%^&*(       | \x7e21402324255e262a28             | \x7e21402324255e262a28             |    1
  1970-01-01 00:00:00.006+00:00 |  6 | 1  | 123456           | 123456           | 123456           | \x313233343536                     | \x313233343536                     |    1
  1970-01-01 00:00:00.007+00:00 |  7 | 1  | 1234567891011121 | 1234567891011121 | 1234567891011121 | \x31323334353637383931303131313231 | \x31323334353637383931303131313231 |    1
  1970-01-01 00:00:00.009+00:00 |  9 | 中 | 中文             | 中文             | 中文             | \xe4b8ade69687                     | \xe4b8ade69687                     |    1
  1970-01-01 00:00:00.01+00:00  | 10 | 👿 | 👿               | 👿               | 👿               | \xf09f91bf                         | \xf09f91bf                         |    1
  1970-01-01 00:00:00.012+00:00 | 12 | a  | abc              | abc              | abc              | \x616263                           | \x616263                           |    1
(10 rows)
> select a, b::bytes,c::bytes,d::bytes,e::bytes,f::bytes,g::bytes from t1 order by a;
  a  |     b      |                 c                  |                 d                  |                 e                  |                 f                  |                 g
-----+------------+------------------------------------+------------------------------------+------------------------------------+------------------------------------+-------------------------------------
   1 | \x68       | \x68656c6c6f2c20776f726c6421       | \x68656c6c6f2c20776f726c6421       | \x68656c6c6f2c20776f726c6421       | \x68656c6c6f2c20776f726c6421       | \x68656c6c6f2c20776f726c6421
   2 | \xe4bda0   | \xe4bda0e5a5bde4b896e7958cefbc81   | \xe4bda0e5a5bde4b896e7958cefbc81   | \xe4bda0e5a5bde4b896e7958cefbc81   | \xe4bda0e5a5bde4b896e7958cefbc81   | \xe4bda0e5a5bde4b896e7958cefbc81
   3 | \xe38193   | \xe38193e38293e381abe381a1e381af   | \xe38193e38293e381abe381a1e381af   | \xe38193e38293e381abe381a1e381af   | \xe38193e38293e381abe381a1e381af   | \xe38193e38293e381abe381a1e381af
   4 | \xceba     | \xcebaceb1cebbceb7cebcceadcf81ceb1 | \xcebaceb1cebbceb7cebcceadcf81ceb1 | \xcebaceb1cebbceb7cebcceadcf81ceb1 | \xcebaceb1cebbceb7cebcceadcf81ceb1 | \xcebaceb1cebbceb7cebcceadcf81ceb1
   5 | \x7e       | \x7e21402324255e262a28             | \x7e21402324255e262a28             | \x7e21402324255e262a28             | \x7e21402324255e262a28             | \x7e21402324255e262a28
   6 | \x31       | \x313233343536                     | \x313233343536                     | \x313233343536                     | \x313233343536                     | \x313233343536
   7 | \x31       | \x31323334353637383931303131313231 | \x31323334353637383931303131313231 | \x31323334353637383931303131313231 | \x31323334353637383931303131313231 | \x31323334353637383931303131313231
   9 | \xe4b8ad   | \xe4b8ade69687                     | \xe4b8ade69687                     | \xe4b8ade69687                     | \xe4b8ade69687                     | \xe4b8ade69687
  10 | \xf09f91bf | \xf09f91bf                         | \xf09f91bf                         | \xf09f91bf                         | \xf09f91bf                         | \xf09f91bf
  12 | \x61       | \x616263                           | \x616263                           | \x616263                           | \x616263                           | \x616263
(10 rows)
> select a, b::string,c::string,d::string,e::string,f::string,g::string from t1 order by a;
  a  | b  |        c         |        d         |        e         |                 f                  |                 g
-----+----+------------------+------------------+------------------+------------------------------------+-------------------------------------
   1 | h  | hello, world!    | hello, world!    | hello, world!    | \x68656c6c6f2c20776f726c6421       | \x68656c6c6f2c20776f726c6421
   2 | 你 | 你好世界！       | 你好世界！       | 你好世界！       | \xe4bda0e5a5bde4b896e7958cefbc81   | \xe4bda0e5a5bde4b896e7958cefbc81
   3 | こ | こんにちは       | こんにちは       | こんにちは       | \xe38193e38293e381abe381a1e381af   | \xe38193e38293e381abe381a1e381af
   4 | κ  | καλημέρα         | καλημέρα         | καλημέρα         | \xcebaceb1cebbceb7cebcceadcf81ceb1 | \xcebaceb1cebbceb7cebcceadcf81ceb1
   5 | ~  | ~!@#$%^&*(       | ~!@#$%^&*(       | ~!@#$%^&*(       | \x7e21402324255e262a28             | \x7e21402324255e262a28
   6 | 1  | 123456           | 123456           | 123456           | \x313233343536                     | \x313233343536
   7 | 1  | 1234567891011121 | 1234567891011121 | 1234567891011121 | \x31323334353637383931303131313231 | \x31323334353637383931303131313231
   9 | 中 | 中文             | 中文             | 中文             | \xe4b8ade69687                     | \xe4b8ade69687
  10 | 👿 | 👿               | 👿               | 👿               | \xf09f91bf                         | \xf09f91bf
  12 | a  | abc              | abc              | abc              | \x616263                           | \x616263
(10 rows)
> select a, ascii(b), ascii(c), ascii(d), ascii(e) from t1 order by a;
  a  | ascii  | ascii  | ascii  | ascii
-----+--------+--------+--------+---------
   1 |    104 |    104 |    104 |    104
   2 |  20320 |  20320 |  20320 |  20320
   3 |  12371 |  12371 |  12371 |  12371
   4 |    954 |    954 |    954 |    954
   5 |    126 |    126 |    126 |    126
   6 |     49 |     49 |     49 |     49
   7 |     49 |     49 |     49 |     49
   9 |  20013 |  20013 |  20013 |  20013
  10 | 128127 | 128127 | 128127 | 128127
  12 |     97 |     97 |     97 |     97
(10 rows)
> select a, greatest(b), greatest(c), greatest(d), greatest(e), greatest(f), greatest(g) from t1 order by a;
  a  | greatest |     greatest     |     greatest     |     greatest     |              greatest              |              greatest
-----+----------+------------------+------------------+------------------+------------------------------------+-------------------------------------
   1 | h        | hello, world!    | hello, world!    | hello, world!    | \x68656c6c6f2c20776f726c6421       | \x68656c6c6f2c20776f726c6421
   2 | 你       | 你好世界！       | 你好世界！       | 你好世界！       | \xe4bda0e5a5bde4b896e7958cefbc81   | \xe4bda0e5a5bde4b896e7958cefbc81
   3 | こ       | こんにちは       | こんにちは       | こんにちは       | \xe38193e38293e381abe381a1e381af   | \xe38193e38293e381abe381a1e381af
   4 | κ        | καλημέρα         | καλημέρα         | καλημέρα         | \xcebaceb1cebbceb7cebcceadcf81ceb1 | \xcebaceb1cebbceb7cebcceadcf81ceb1
   5 | ~        | ~!@#$%^&*(       | ~!@#$%^&*(       | ~!@#$%^&*(       | \x7e21402324255e262a28             | \x7e21402324255e262a28
   6 | 1        | 123456           | 123456           | 123456           | \x313233343536                     | \x313233343536
   7 | 1        | 1234567891011121 | 1234567891011121 | 1234567891011121 | \x31323334353637383931303131313231 | \x31323334353637383931303131313231
   9 | 中       | 中文             | 中文             | 中文             | \xe4b8ade69687                     | \xe4b8ade69687
  10 | 👿       | 👿               | 👿               | 👿               | \xf09f91bf                         | \xf09f91bf
  12 | a        | abc              | abc              | abc              | \x616263                           | \x616263
(10 rows)
> select a, concat(b,'1'), concat(c,'1'), concat(d,'1'), concat(e,'1') from t1 order by a;
  a  | concat |      concat       |      concat       |      concat
-----+--------+-------------------+-------------------+--------------------
   1 | h1     | hello, world!1    | hello, world!1    | hello, world!1
   2 | 你1    | 你好世界！1       | 你好世界！1       | 你好世界！1
   3 | こ1    | こんにちは1       | こんにちは1       | こんにちは1
   4 | κ1     | καλημέρα1         | καλημέρα1         | καλημέρα1
   5 | ~1     | ~!@#$%^&*(1       | ~!@#$%^&*(1       | ~!@#$%^&*(1
   6 | 11     | 1234561           | 1234561           | 1234561
   7 | 11     | 12345678910111211 | 12345678910111211 | 12345678910111211
   9 | 中1    | 中文1             | 中文1             | 中文1
  10 | 👿1    | 👿1               | 👿1               | 👿1
  12 | a1     | abc1              | abc1              | abc1
(10 rows)
> select a, concat(b,b), concat(c,c), concat(d,d), concat(e,e) from t1 order by a;
  a  | concat |              concat              |              concat              |              concat
-----+--------+----------------------------------+----------------------------------+-----------------------------------
   1 | hh     | hello, world!hello, world!       | hello, world!hello, world!       | hello, world!hello, world!
   2 | 你你   | 你好世界！你好世界！             | 你好世界！你好世界！             | 你好世界！你好世界！
   3 | ここ   | こんにちはこんにちは             | こんにちはこんにちは             | こんにちはこんにちは
   4 | κκ     | καλημέρακαλημέρα                 | καλημέρακαλημέρα                 | καλημέρακαλημέρα
   5 | ~~     | ~!@#$%^&*(~!@#$%^&*(             | ~!@#$%^&*(~!@#$%^&*(             | ~!@#$%^&*(~!@#$%^&*(
   6 | 11     | 123456123456                     | 123456123456                     | 123456123456
   7 | 11     | 12345678910111211234567891011121 | 12345678910111211234567891011121 | 12345678910111211234567891011121
   9 | 中中   | 中文中文                         | 中文中文                         | 中文中文
  10 | 👿👿   | 👿👿                             | 👿👿                             | 👿👿
  12 | aa     | abcabc                           | abcabc                           | abcabc
(10 rows)
> select a, last(b), last(c), last(d), last(e), last(f), last(g)from t1 order by a;--relational table does not support last operator
ERROR: column "a" must appear in the GROUP BY clause or be used in an aggregate function
SQLSTATE: 42803
> select concat_agg(b::string), concat_agg(c::string), concat_agg(d::string), concat_agg(e::string), concat_agg(f::string), concat_agg(g::string)from t1 group by a order by a;
  concat_agg |    concat_agg    |    concat_agg    |    concat_agg    |             concat_agg             |             concat_agg
-------------+------------------+------------------+------------------+------------------------------------+-------------------------------------
  h          | hello, world!    | hello, world!    | hello, world!    | \x68656c6c6f2c20776f726c6421       | \x68656c6c6f2c20776f726c6421
  你         | 你好世界！       | 你好世界！       | 你好世界！       | \xe4bda0e5a5bde4b896e7958cefbc81   | \xe4bda0e5a5bde4b896e7958cefbc81
  こ         | こんにちは       | こんにちは       | こんにちは       | \xe38193e38293e381abe381a1e381af   | \xe38193e38293e381abe381a1e381af
  κ          | καλημέρα         | καλημέρα         | καλημέρα         | \xcebaceb1cebbceb7cebcceadcf81ceb1 | \xcebaceb1cebbceb7cebcceadcf81ceb1
  ~          | ~!@#$%^&*(       | ~!@#$%^&*(       | ~!@#$%^&*(       | \x7e21402324255e262a28             | \x7e21402324255e262a28
  1          | 123456           | 123456           | 123456           | \x313233343536                     | \x313233343536
  1          | 1234567891011121 | 1234567891011121 | 1234567891011121 | \x31323334353637383931303131313231 | \x31323334353637383931303131313231
  中         | 中文             | 中文             | 中文             | \xe4b8ade69687                     | \xe4b8ade69687
  👿         | 👿               | 👿               | 👿               | \xf09f91bf                         | \xf09f91bf
  a          | abc              | abc              | abc              | \x616263                           | \x616263
(10 rows)
> select a, length(b), length(c), length(d), length(e), length(f), length(g) from t1 order by a;
  a  | length | length | length | length | length | length
-----+--------+--------+--------+--------+--------+---------
   1 |      1 |     13 |     13 |     13 |     13 |     13
   2 |      1 |      5 |      5 |      5 |     15 |     15
   3 |      1 |      5 |      5 |      5 |     15 |     15
   4 |      1 |      8 |      8 |      8 |     16 |     16
   5 |      1 |     10 |     10 |     10 |     10 |     10
   6 |      1 |      6 |      6 |      6 |      6 |      6
   7 |      1 |     16 |     16 |     16 |     16 |     16
   9 |      1 |      2 |      2 |      2 |      6 |      6
  10 |      1 |      1 |      1 |      1 |      4 |      4
  12 |      1 |      3 |      3 |      3 |      3 |      3
(10 rows)
> select * from t1 where b = 'h';
               ts               | a | b |       c       |       d       |       e       |              f               |              g               | taga
--------------------------------+---+---+---------------+---------------+---------------+------------------------------+------------------------------+-------
  1970-01-01 00:00:00.001+00:00 | 1 | h | hello, world! | hello, world! | hello, world! | \x68656c6c6f2c20776f726c6421 | \x68656c6c6f2c20776f726c6421 |    1
(1 row)
> select * from t1 where c = '中文';
               ts               | a | b  |  c   |  d   |  e   |       f        |       g        | taga
--------------------------------+---+----+------+------+------+----------------+----------------+-------
  1970-01-01 00:00:00.009+00:00 | 9 | 中 | 中文 | 中文 | 中文 | \xe4b8ade69687 | \xe4b8ade69687 |    1
(1 row)
> select * from t1 where c = b'\xcc\xbb\xee';
  ts | a | b | c | d | e | f | g | taga
-----+---+---+---+---+---+---+---+-------
(0 rows)
> select * from t1 where c = b'\xe4\xb8\xad\xe6\x96\x87';
               ts               | a | b  |  c   |  d   |  e   |       f        |       g        | taga
--------------------------------+---+----+------+------+------+----------------+----------------+-------
  1970-01-01 00:00:00.009+00:00 | 9 | 中 | 中文 | 中文 | 中文 | \xe4b8ade69687 | \xe4b8ade69687 |    1
(1 row)
> select * from t1 where b like 'h%' and c like 'h%' and d like 'h%' and e like 'h%';
               ts               | a | b |       c       |       d       |       e       |              f               |              g               | taga
--------------------------------+---+---+---------------+---------------+---------------+------------------------------+------------------------------+-------
  1970-01-01 00:00:00.001+00:00 | 1 | h | hello, world! | hello, world! | hello, world! | \x68656c6c6f2c20776f726c6421 | \x68656c6c6f2c20776f726c6421 |    1
(1 row)
> select * from t1 where c like '中%' and d like '中%' and e like '中%';
               ts               | a | b  |  c   |  d   |  e   |       f        |       g        | taga
--------------------------------+---+----+------+------+------+----------------+----------------+-------
  1970-01-01 00:00:00.009+00:00 | 9 | 中 | 中文 | 中文 | 中文 | \xe4b8ade69687 | \xe4b8ade69687 |    1
(1 row)
> drop database ts1 cascade;
DROP DATABASE
