> create ts database "!@#$%%^中文";
ERROR: invalid name: "!@#$%%^中文", naming of time series objects only supports letters, numbers and symbols
SQLSTATE: 42602
> create ts database "!@#$%%^";
CREATE TS DATABASE
> alter database "!@#$%%^"  rename to "!@#$%%^中文";
ERROR: invalid name: "!@#$%%^中文", naming of time series objects only supports letters, numbers and symbols
SQLSTATE: 42602
> drop database "!@#$%%^";
DROP DATABASE
> create ts database tttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttt;
ERROR: ts database name exceeds max length (63)
SQLSTATE: 42602
> create ts database test;
CREATE TS DATABASE
> alter database test rename to tttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttt;
ERROR: ts database name exceeds max length (63)
SQLSTATE: 42602
> create table test.t1(ts timestamp not null, "!@#$%%^中文" int) tags(tag1 int not null,tag2 int) primary tags(tag1);
ERROR: naming of column/tag in timeseries table only supports letters, numbers and symbols
SQLSTATE: 42602
> create table test.t1(ts timestamp not null, a int) tags(tag1 int not null,tag2 int) primary tags(tag1);
CREATE TABLE
> alter table test.t1 rename column a to "!@#$%%^中文";
ERROR: naming of column/tag in timeseries table only supports letters, numbers and symbols
SQLSTATE: 42602
> alter table test.t1 rename column a to ttttttttttttttttttttttttttttttt;
ALTER TABLE
> alter table test.t1 rename tag tag1 to "!@#$%%^中文";
ERROR: naming of column/tag in timeseries table only supports letters, numbers and symbols
SQLSTATE: 42602
> alter table test.t1 rename tag tag1 to ttttttttttttttttttttttttttttttt;
ERROR: can not rename primary tag name: tag1
SQLSTATE: 42809
> drop database test;
DROP DATABASE
