> create ts database tsdb;
CREATE TS DATABASE
> create table tsdb.test1(ts timestamp not null, a int) tags(tag1 int not null,tag2 int) primary tags(tag1);
CREATE TABLE
> insert into tsdb.test1 (ts,a,tag1,tag2)values ('2024-03-06 10:05:00',1,1,1);
INSERT 1
> alter table tsdb.test1 rename column ts to ts1;
ALTER TABLE
> alter table tsdb.test1 rename column a to b;
ALTER TABLE
> alter table tsdb.test1 rename column tag1 to tag11;
ERROR: "tag1" is a tag
SQLSTATE: 42809
> alter table tsdb.test1 rename column tag2 to tag22;
ERROR: "tag2" is a tag
SQLSTATE: 42809
> show columns from tsdb.test1;
  column_name |   data_type    | is_nullable | column_default | generation_expression |  indices  | is_hidden | is_tag
--------------+----------------+-------------+----------------+-----------------------+-----------+-----------+---------
  ts1         | TIMESTAMPTZ(3) |    false    | NULL           |                       | {primary} |   false   | false
  b           | INT4           |    true     | NULL           |                       | {}        |   false   | false
  tag1        | INT4           |    false    | NULL           |                       | {}        |   false   |  true
  tag2        | INT4           |    true     | NULL           |                       | {}        |   false   |  true
(4 rows)
> select * from tsdb.test1 order by tag1;
             ts1            | b | tag1 | tag2
----------------------------+---+------+-------
  2024-03-06 10:05:00+00:00 | 1 |    1 |    1
(1 row)
> insert into tsdb.test1 (ts1,b,tag1,tag2)values ('2024-03-06 10:06:00',1,2,2);
INSERT 1
> alter table tsdb.test1 rename column ts1 to ts;
ALTER TABLE
> alter table tsdb.test1 rename column b to a;
ALTER TABLE
> select * from tsdb.test1 order by tag1;
             ts             | a | tag1 | tag2
----------------------------+---+------+-------
  2024-03-06 10:05:00+00:00 | 1 |    1 |    1
  2024-03-06 10:06:00+00:00 | 1 |    2 |    2
(2 rows)
> drop database tsdb;
DROP DATABASE
