> CREATE ts DATABASE d_test PARTITION INTERVAL 100000000000000 YEAR;
ERROR: partition interval 100000000000000year is invalid, the time range is [1day, 1000year]
SQLSTATE: 22023
> CREATE ts DATABASE d_test PARTITION INTERVAL 1001Y;
ERROR: partition interval 1001y is invalid, the time range is [1day, 1000year]
SQLSTATE: 22023
> CREATE ts DATABASE d_test PARTITION INTERVAL 13000MONTH;
ERROR: partition interval 13000month is invalid, the time range is [1day, 1000year]
SQLSTATE: 22023
> CREATE ts DATABASE d_test PARTITION INTERVAL 13000MON;
ERROR: partition interval 13000mon is invalid, the time range is [1day, 1000year]
SQLSTATE: 22023
> CREATE ts DATABASE d_test PARTITION INTERVAL 100000000000000W;
ERROR: partition interval 100000000000000w is invalid, the time range is [1day, 1000year]
SQLSTATE: 22023
> CREATE ts DATABASE d_test PARTITION INTERVAL 100000000000000WEEK;
ERROR: partition interval 100000000000000week is invalid, the time range is [1day, 1000year]
SQLSTATE: 22023
> CREATE ts DATABASE d_test PARTITION INTERVAL 100000000000000DAY;
ERROR: partition interval 100000000000000day is invalid, the time range is [1day, 1000year]
SQLSTATE: 22023
> CREATE ts DATABASE d_test PARTITION INTERVAL 100000000000000D;
ERROR: partition interval 100000000000000d is invalid, the time range is [1day, 1000year]
SQLSTATE: 22023
> CREATE ts DATABASE d_test PARTITION INTERVAL 100000000000000H;
ERROR: unsupported partition interval unit: h
SQLSTATE: 22023
> CREATE ts DATABASE d_test PARTITION INTERVAL 100000000000000HOUR;
ERROR: unsupported partition interval unit: hour
SQLSTATE: 22023
> CREATE ts DATABASE d_test PARTITION INTERVAL 100000000000000M;
ERROR: unsupported partition interval unit: m
SQLSTATE: 22023
> CREATE ts DATABASE d_test PARTITION INTERVAL 100000000000000MINUTE;
ERROR: unsupported partition interval unit: minute
SQLSTATE: 22023
> CREATE ts DATABASE d_test PARTITION INTERVAL 100000000000000S;
ERROR: unsupported partition interval unit: s
SQLSTATE: 22023
> CREATE ts DATABASE d_test PARTITION INTERVAL 100000000000000SECOND;
ERROR: unsupported partition interval unit: second
SQLSTATE: 22023
> create ts database tsdb PARTITION INTERVAL 10d;
CREATE TS DATABASE
> alter ts database tsdb set PARTITION INTERVAL = 15S;
ERROR: unsupported partition interval unit: s
SQLSTATE: 22023
> alter ts database tsdb set PARTITION INTERVAL = 15SECOND;
ERROR: unsupported partition interval unit: second
SQLSTATE: 22023
> alter ts database tsdb set PARTITION INTERVAL = 15MINUTE;
ERROR: unsupported partition interval unit: minute
SQLSTATE: 22023
> alter ts database tsdb set PARTITION INTERVAL = 15M;
ERROR: unsupported partition interval unit: m
SQLSTATE: 22023
> alter ts database tsdb set PARTITION INTERVAL = 15H;
ERROR: unsupported partition interval unit: h
SQLSTATE: 22023
> alter ts database tsdb set PARTITION INTERVAL = 15HOUR;
ERROR: unsupported partition interval unit: hour
SQLSTATE: 22023
> alter ts database tsdb set PARTITION INTERVAL = 100000000000000D;
ERROR: partition interval is out of range 8640000000000000000, the time range is [1day, 1000year]
SQLSTATE: 22023
> alter ts database tsdb set PARTITION INTERVAL = 1001Y;
ERROR: partition interval is out of range 31567536000, the time range is [1day, 1000year]
SQLSTATE: 22023
> alter ts database tsdb set PARTITION INTERVAL = 13000MON;
ERROR: partition interval is out of range 33696000000, the time range is [1day, 1000year]
SQLSTATE: 22023
> alter ts database tsdb set PARTITION INTERVAL = 100000000000000WEEK;
ERROR: partition interval is out of range 5139767778871345152, the time range is [1day, 1000year]
SQLSTATE: 22023
> create table tsdb.t1(ts timestamp not null, a int) tags(ptag int not null) primary tags(ptag) PARTITION INTERVAL 100000000000000 YEAR;
ERROR: partition interval 100000000000000year is invalid, time range between 1day and 1000year is accepted
SQLSTATE: 22023
> create table tsdb.t1(ts timestamp not null, a int) tags(ptag int not null) primary tags(ptag) PARTITION INTERVAL 1001Y;
ERROR: partition interval 1001y is invalid, time range between 1day and 1000year is accepted
SQLSTATE: 22023
> create table tsdb.t1(ts timestamp not null, a int) tags(ptag int not null) primary tags(ptag) PARTITION INTERVAL 13000MONTH;
ERROR: partition interval 13000month is invalid, time range between 1day and 1000year is accepted
SQLSTATE: 22023
> create table tsdb.t1(ts timestamp not null, a int) tags(ptag int not null) primary tags(ptag) PARTITION INTERVAL 100000000000000W;
ERROR: partition interval 100000000000000w is invalid, time range between 1day and 1000year is accepted
SQLSTATE: 22023
> create table tsdb.t1(ts timestamp not null, a int) tags(ptag int not null) primary tags(ptag) PARTITION INTERVAL 100000000000000DAY;
ERROR: partition interval 100000000000000day is invalid, time range between 1day and 1000year is accepted
SQLSTATE: 22023
> create table tsdb.t1(ts timestamp not null, a int) tags(ptag int not null) primary tags(ptag) PARTITION INTERVAL 100000000000000H;
ERROR: unsupported partition interval unit: h
SQLSTATE: 22023
> create table tsdb.t1(ts timestamp not null, a int) tags(ptag int not null) primary tags(ptag) PARTITION INTERVAL 100000000000000M;
ERROR: unsupported partition interval unit: m
SQLSTATE: 22023
> create table tsdb.t1(ts timestamp not null, a int) tags(ptag int not null) primary tags(ptag) PARTITION INTERVAL 100000000000000S;
ERROR: unsupported partition interval unit: s
SQLSTATE: 22023
> create table tsdb.t(ts timestamp not null, a int) tags(ptag int not null) primary tags(ptag); --t: 10d
CREATE TABLE
> alter table tsdb.t set PARTITION INTERVAL = 15S;
ERROR: unsupported partition interval unit: s
SQLSTATE: 22023
> alter table tsdb.t set PARTITION INTERVAL = 15SECOND;
ERROR: unsupported partition interval unit: second
SQLSTATE: 22023
> alter table tsdb.t set PARTITION INTERVAL = 15MINUTE;
ERROR: unsupported partition interval unit: minute
SQLSTATE: 22023
> alter table tsdb.t set PARTITION INTERVAL = 15M;
ERROR: unsupported partition interval unit: m
SQLSTATE: 22023
> alter table tsdb.t set PARTITION INTERVAL = 15H;
ERROR: unsupported partition interval unit: h
SQLSTATE: 22023
> alter table tsdb.t set PARTITION INTERVAL = 15HOUR;
ERROR: unsupported partition interval unit: hour
SQLSTATE: 22023
> alter table tsdb.t set PARTITION INTERVAL = 100000000000000D;
ERROR: partition interval 100000000000000 d is invalid, the time range is [1day, 1000year]
SQLSTATE: 22023
> alter table tsdb.t set PARTITION INTERVAL = 1001Y;
ERROR: partition interval 1001 y is invalid, the time range is [1day, 1000year]
SQLSTATE: 22023
> alter table tsdb.t set PARTITION INTERVAL = 13000MON;
ERROR: partition interval 13000 mon is invalid, the time range is [1day, 1000year]
SQLSTATE: 22023
> alter table tsdb.t set PARTITION INTERVAL = 100000000000000WEEK;
ERROR: partition interval 100000000000000 week is invalid, the time range is [1day, 1000year]
SQLSTATE: 22023
> create table tsdb.t1(ts timestamp not null, a int) tags(ptag int not null) primary tags(ptag) PARTITION INTERVAL 15d;  --t1: 15d
CREATE TABLE
> SELECT PARTITION_INTERVAL from tsdb.information_schema.schemata where schema_name='public' order by RETENTIONS;
  partition_interval
----------------------
              864000
(1 row)
> SHOW CREATE TABLE tsdb.t;
   table_name   |              create_statement
----------------+----------------------------------------------
  tsdb.public.t | CREATE TABLE t (
                |     ts TIMESTAMPTZ(3) NOT NULL,
                |     a INT4 NULL
                | ) TAGS (
                |     ptag INT4 NOT NULL ) PRIMARY TAGS(ptag)
                |     retentions 0s
                |     activetime 1d
                |     partition interval 10d
(1 row)
> SHOW CREATE TABLE tsdb.t1;
    table_name   |              create_statement
-----------------+----------------------------------------------
  tsdb.public.t1 | CREATE TABLE t1 (
                 |     ts TIMESTAMPTZ(3) NOT NULL,
                 |     a INT4 NULL
                 | ) TAGS (
                 |     ptag INT4 NOT NULL ) PRIMARY TAGS(ptag)
                 |     retentions 0s
                 |     activetime 1d
                 |     partition interval 15d
(1 row)
> alter ts database tsdb set PARTITION INTERVAL = 15d; -- tsdb, t1: 15d, t:10d
ALTER TS DATABASE
> SELECT PARTITION_INTERVAL from tsdb.information_schema.schemata where schema_name='public' order by RETENTIONS;
  partition_interval
----------------------
             1296000
(1 row)
> SHOW CREATE TABLE tsdb.t;
   table_name   |              create_statement
----------------+----------------------------------------------
  tsdb.public.t | CREATE TABLE t (
                |     ts TIMESTAMPTZ(3) NOT NULL,
                |     a INT4 NULL
                | ) TAGS (
                |     ptag INT4 NOT NULL ) PRIMARY TAGS(ptag)
                |     retentions 0s
                |     activetime 1d
                |     partition interval 10d
(1 row)
> SHOW CREATE TABLE tsdb.t1;
    table_name   |              create_statement
-----------------+----------------------------------------------
  tsdb.public.t1 | CREATE TABLE t1 (
                 |     ts TIMESTAMPTZ(3) NOT NULL,
                 |     a INT4 NULL
                 | ) TAGS (
                 |     ptag INT4 NOT NULL ) PRIMARY TAGS(ptag)
                 |     retentions 0s
                 |     activetime 1d
                 |     partition interval 15d
(1 row)
> alter table tsdb.t1 set PARTITION INTERVAL = 25d;  -- t1: 25d
ALTER TABLE
> create table tsdb.t2(ts timestamp not null, a int) tags(ptag int not null) primary tags(ptag); --t2: 15d
CREATE TABLE
> SHOW CREATE TABLE tsdb.t1;
    table_name   |              create_statement
-----------------+----------------------------------------------
  tsdb.public.t1 | CREATE TABLE t1 (
                 |     ts TIMESTAMPTZ(3) NOT NULL,
                 |     a INT4 NULL
                 | ) TAGS (
                 |     ptag INT4 NOT NULL ) PRIMARY TAGS(ptag)
                 |     retentions 0s
                 |     activetime 1d
                 |     partition interval 25d
(1 row)
> SHOW CREATE TABLE tsdb.t2;
    table_name   |              create_statement
-----------------+----------------------------------------------
  tsdb.public.t2 | CREATE TABLE t2 (
                 |     ts TIMESTAMPTZ(3) NOT NULL,
                 |     a INT4 NULL
                 | ) TAGS (
                 |     ptag INT4 NOT NULL ) PRIMARY TAGS(ptag)
                 |     retentions 0s
                 |     activetime 1d
                 |     partition interval 15d
(1 row)
> alter table tsdb.t2 set PARTITION INTERVAL = 10s;  -- t2: 15d
ERROR: unsupported partition interval unit: s
SQLSTATE: 22023
> SHOW CREATE TABLE tsdb.t2;
    table_name   |              create_statement
-----------------+----------------------------------------------
  tsdb.public.t2 | CREATE TABLE t2 (
                 |     ts TIMESTAMPTZ(3) NOT NULL,
                 |     a INT4 NULL
                 | ) TAGS (
                 |     ptag INT4 NOT NULL ) PRIMARY TAGS(ptag)
                 |     retentions 0s
                 |     activetime 1d
                 |     partition interval 15d
(1 row)
> DROP database tsdb cascade;
DROP DATABASE
> create ts database tsdb;
CREATE TS DATABASE
> SELECT PARTITION_INTERVAL from tsdb.information_schema.schemata where schema_name='public' order by RETENTIONS;
  partition_interval
----------------------
              864000
(1 row)
> create table tsdb.t1(ts timestamp not null, a int) tags(ptag int not null) primary tags(ptag);  --t1: 1d
CREATE TABLE
> SHOW CREATE TABLE tsdb.t1;
    table_name   |              create_statement
-----------------+----------------------------------------------
  tsdb.public.t1 | CREATE TABLE t1 (
                 |     ts TIMESTAMPTZ(3) NOT NULL,
                 |     a INT4 NULL
                 | ) TAGS (
                 |     ptag INT4 NOT NULL ) PRIMARY TAGS(ptag)
                 |     retentions 0s
                 |     activetime 1d
                 |     partition interval 10d
(1 row)
> insert into tsdb.t1 values('2019-12-11 01:23:05', 1, 100);
INSERT 1
> insert into tsdb.t1 values('2020-12-12 11:23:28', 1, 400);
INSERT 1
> insert into tsdb.t1 values('2021-12-16 01:23:49', 1, 100);
INSERT 1
> insert into tsdb.t1 values('2022-01-16 01:23:51', 1, 100);
INSERT 1
> insert into tsdb.t1 values('2021-02-16 01:23:39', 1, 200);
INSERT 1
> insert into tsdb.t1 values('2023-03-16 01:23:53', 1, 100);
INSERT 1
> insert into tsdb.t1 values('2020-11-16 01:23:24', 1, 800);
INSERT 1
> insert into tsdb.t1 values('2020-10-16 01:23:19', 1, 100);
INSERT 1
> insert into tsdb.t1 values('2020-09-16 01:23:13', 1, 100);
INSERT 1
> insert into tsdb.t1 values('2020-12-11 01:23:26', 1, 600);
INSERT 1
> insert into tsdb.t1 values('2020-12-12 11:23:29', 1, 100);
INSERT 1
> insert into tsdb.t1 values('2020-12-16 01:23:32', 1, 100);
INSERT 1
> insert into tsdb.t1 values('2021-01-16 01:23:37', 1, 100);
INSERT 1
> insert into tsdb.t1 values('2021-02-16 01:23:40', 1, 300);
INSERT 1
> insert into tsdb.t1 values('2021-03-16 01:23:43', 1, 100);
INSERT 1
> insert into tsdb.t1 values('2020-11-16 01:23:25', 1, 500);
INSERT 1
> insert into tsdb.t1 values('2020-10-16 01:23:20', 1, 100);
INSERT 1
> insert into tsdb.t1 values('2020-09-16 01:23:14', 1, 100);
INSERT 1
> alter table tsdb.t1 set PARTITION INTERVAL = 10d;
ALTER TABLE
> SHOW CREATE TABLE tsdb.t1;
    table_name   |              create_statement
-----------------+----------------------------------------------
  tsdb.public.t1 | CREATE TABLE t1 (
                 |     ts TIMESTAMPTZ(3) NOT NULL,
                 |     a INT4 NULL
                 | ) TAGS (
                 |     ptag INT4 NOT NULL ) PRIMARY TAGS(ptag)
                 |     retentions 0s
                 |     activetime 1d
                 |     partition interval 10d
(1 row)
> insert into tsdb.t1 values('2019-12-04 01:23:04', 2, 200);
INSERT 1
> insert into tsdb.t1 values('2020-12-11 11:23:27', 2, 200);
INSERT 1
> insert into tsdb.t1 values('2020-12-14 01:23:30', 2, 200);
INSERT 1
> insert into tsdb.t1 values('2020-12-15 01:23:31', 2, 200);
INSERT 1
> insert into tsdb.t1 values('2021-12-16 11:23:50', 2, 200);
INSERT 1
> insert into tsdb.t1 values('2020-12-20 01:23:33', 2, 200);
INSERT 1
> insert into tsdb.t1 values('2020-12-30 01:23:34', 2, 100);
INSERT 1
> insert into tsdb.t1 values('2021-01-02 01:23:35', 2, 300);
INSERT 1
> insert into tsdb.t1 values('2021-02-16 01:23:41', 2, 100);
INSERT 1
> insert into tsdb.t1 values('2023-03-16 01:23:54', 2, 400);
INSERT 1
> insert into tsdb.t1 values('2020-11-01 01:23:21', 2, 100);
INSERT 1
> insert into tsdb.t1 values('2020-10-12 01:23:18', 2, 500);
INSERT 1
> insert into tsdb.t1 values('2020-09-28 01:23:17', 2, 100);
INSERT 1
> alter table tsdb.t1 set PARTITION INTERVAL = 1mon;
ALTER TABLE
> SHOW CREATE TABLE tsdb.t1;
    table_name   |              create_statement
-----------------+----------------------------------------------
  tsdb.public.t1 | CREATE TABLE t1 (
                 |     ts TIMESTAMPTZ(3) NOT NULL,
                 |     a INT4 NULL
                 | ) TAGS (
                 |     ptag INT4 NOT NULL ) PRIMARY TAGS(ptag)
                 |     retentions 0s
                 |     activetime 1d
                 |     partition interval 1mon
(1 row)
> insert into tsdb.t1 values('2021-08-04 01:23:47', 3, 100);
INSERT 1
> insert into tsdb.t1 values('2020-07-11 11:23:08', 3, 700);
INSERT 1
> insert into tsdb.t1 values('2020-07-12 01:23:11', 3, 100);
INSERT 1
> insert into tsdb.t1 values('2021-02-15 01:23:38', 3, 600);
INSERT 1
> insert into tsdb.t1 values('2021-06-16 11:23:45', 3, 400);
INSERT 1
> insert into tsdb.t1 values('2021-09-20 01:23:48', 3, 100);
INSERT 1
> alter table tsdb.t1 set PARTITION INTERVAL = 1d;
ALTER TABLE
> SHOW CREATE TABLE tsdb.t1;
    table_name   |              create_statement
-----------------+----------------------------------------------
  tsdb.public.t1 | CREATE TABLE t1 (
                 |     ts TIMESTAMPTZ(3) NOT NULL,
                 |     a INT4 NULL
                 | ) TAGS (
                 |     ptag INT4 NOT NULL ) PRIMARY TAGS(ptag)
                 |     retentions 0s
                 |     activetime 1d
                 |     partition interval 1d
(1 row)
> insert into tsdb.t1 values('2020-08-04 01:23:12', 4, 100);
INSERT 1
> insert into tsdb.t1 values('2020-07-11 11:23:09', 4, 200);
INSERT 1
> insert into tsdb.t1 values('2021-07-12 01:23:46', 4, 100);
INSERT 1
> insert into tsdb.t1 values('2020-02-15 01:23:06', 4, 500);
INSERT 1
> insert into tsdb.t1 values('2019-06-16 11:23:02', 4, 100);
INSERT 1
> insert into tsdb.t1 values('2020-09-20 01:23:15', 4, 300);
INSERT 1
> insert into tsdb.t1 values('2021-01-02 01:23:36', 4, 700);
INSERT 1
> insert into tsdb.t1 values('2023-02-16 01:23:52', 4, 100);
INSERT 1
> insert into tsdb.t1 values('2021-03-16 01:23:44', 4, 900);
INSERT 1
> insert into tsdb.t1 values('2020-11-01 01:23:22', 4, 800);
INSERT 1
> alter table tsdb.t1 set PARTITION INTERVAL = 2year;
ALTER TABLE
> SHOW CREATE TABLE tsdb.t1;
    table_name   |              create_statement
-----------------+----------------------------------------------
  tsdb.public.t1 | CREATE TABLE t1 (
                 |     ts TIMESTAMPTZ(3) NOT NULL,
                 |     a INT4 NULL
                 | ) TAGS (
                 |     ptag INT4 NOT NULL ) PRIMARY TAGS(ptag)
                 |     retentions 0s
                 |     activetime 1d
                 |     partition interval 2year
(1 row)
> insert into tsdb.t1 values('2018-08-04 01:23:01', 5, 500);
INSERT 1
> insert into tsdb.t1 values('2020-07-11 11:23:10', 5, 100);
INSERT 1
> insert into tsdb.t1 values('2019-07-12 01:23:03', 5, 200);
INSERT 1
> insert into tsdb.t1 values('2020-02-15 01:23:07', 5, 300);
INSERT 1
> insert into tsdb.t1 values('2024-06-16 11:23:55', 5, 100);
INSERT 1
> insert into tsdb.t1 values('2020-09-20 01:23:16', 5, 600);
INSERT 1
> insert into tsdb.t1 values('2026-01-02 01:23:56', 5, 400);
INSERT 1
> insert into tsdb.t1 values('2021-02-16 01:23:42', 5, 100);
INSERT 1
> insert into tsdb.t1 values('2027-03-16 01:23:57', 5, 500);
INSERT 1
> insert into tsdb.t1 values('2020-11-01 01:23:23', 5, 900);
INSERT 1
> select * from tsdb.t1 order by ts;
             ts             | a | ptag
----------------------------+---+-------
  2018-08-04 01:23:01+00:00 | 5 |  500
  2019-06-16 11:23:02+00:00 | 4 |  100
  2019-07-12 01:23:03+00:00 | 5 |  200
  2019-12-04 01:23:04+00:00 | 2 |  200
  2019-12-11 01:23:05+00:00 | 1 |  100
  2020-02-15 01:23:06+00:00 | 4 |  500
  2020-02-15 01:23:07+00:00 | 5 |  300
  2020-07-11 11:23:08+00:00 | 3 |  700
  2020-07-11 11:23:09+00:00 | 4 |  200
  2020-07-11 11:23:10+00:00 | 5 |  100
  2020-07-12 01:23:11+00:00 | 3 |  100
  2020-08-04 01:23:12+00:00 | 4 |  100
  2020-09-16 01:23:13+00:00 | 1 |  100
  2020-09-16 01:23:14+00:00 | 1 |  100
  2020-09-20 01:23:15+00:00 | 4 |  300
  2020-09-20 01:23:16+00:00 | 5 |  600
  2020-09-28 01:23:17+00:00 | 2 |  100
  2020-10-12 01:23:18+00:00 | 2 |  500
  2020-10-16 01:23:19+00:00 | 1 |  100
  2020-10-16 01:23:20+00:00 | 1 |  100
  2020-11-01 01:23:21+00:00 | 2 |  100
  2020-11-01 01:23:22+00:00 | 4 |  800
  2020-11-01 01:23:23+00:00 | 5 |  900
  2020-11-16 01:23:24+00:00 | 1 |  800
  2020-11-16 01:23:25+00:00 | 1 |  500
  2020-12-11 01:23:26+00:00 | 1 |  600
  2020-12-11 11:23:27+00:00 | 2 |  200
  2020-12-12 11:23:28+00:00 | 1 |  400
  2020-12-12 11:23:29+00:00 | 1 |  100
  2020-12-14 01:23:30+00:00 | 2 |  200
  2020-12-15 01:23:31+00:00 | 2 |  200
  2020-12-16 01:23:32+00:00 | 1 |  100
  2020-12-20 01:23:33+00:00 | 2 |  200
  2020-12-30 01:23:34+00:00 | 2 |  100
  2021-01-02 01:23:35+00:00 | 2 |  300
  2021-01-02 01:23:36+00:00 | 4 |  700
  2021-01-16 01:23:37+00:00 | 1 |  100
  2021-02-15 01:23:38+00:00 | 3 |  600
  2021-02-16 01:23:39+00:00 | 1 |  200
  2021-02-16 01:23:40+00:00 | 1 |  300
  2021-02-16 01:23:41+00:00 | 2 |  100
  2021-02-16 01:23:42+00:00 | 5 |  100
  2021-03-16 01:23:43+00:00 | 1 |  100
  2021-03-16 01:23:44+00:00 | 4 |  900
  2021-06-16 11:23:45+00:00 | 3 |  400
  2021-07-12 01:23:46+00:00 | 4 |  100
  2021-08-04 01:23:47+00:00 | 3 |  100
  2021-09-20 01:23:48+00:00 | 3 |  100
  2021-12-16 01:23:49+00:00 | 1 |  100
  2021-12-16 11:23:50+00:00 | 2 |  200
  2022-01-16 01:23:51+00:00 | 1 |  100
  2023-02-16 01:23:52+00:00 | 4 |  100
  2023-03-16 01:23:53+00:00 | 1 |  100
  2023-03-16 01:23:54+00:00 | 2 |  400
  2024-06-16 11:23:55+00:00 | 5 |  100
  2026-01-02 01:23:56+00:00 | 5 |  400
  2027-03-16 01:23:57+00:00 | 5 |  500
(57 rows)
> DROP database tsdb cascade;
DROP DATABASE
