> set cluster setting sql.pg_encode_short_circuit.enabled = true;
SET CLUSTER SETTING
> drop database if exists test cascade;
DROP DATABASE
> create database test;
CREATE DATABASE
> use test;
SET
> create table test1(col1 smallint, col2 int, col3 bigint, col4 float, col5 bool, col6 varchar);
CREATE TABLE
> insert into test1 values(1000,1000000,100000000000000000,100000000000000000.101,true, 'test_c1'), (2000,2000000,200000000000000000,200000000000000000.202,true, 'test_c2');
INSERT 2
> drop database if exists test cascade;
DROP DATABASE
> drop database if exists test_ts cascade;
DROP DATABASE
> create ts database test_ts;
CREATE TS DATABASE
> use test_ts;
SET
> create table ts_table
(time timestamp not null, e1 smallint, e2 int, e3 bigint, e4 float, e5 bool, e6 varchar)
    attributes (attr1 smallint not null, attr2 int, attr3 bigint, attr4 float, attr5 bool, attr6 varchar)
               primary attributes (attr1);
CREATE TABLE
> insert into ts_table values('2023-05-31 10:00:00', 1000,1000000,100000000000000000,100000000000000000.101,true, 'test_ts1', 1000, 1000000, 1000000000, 100.11, false, 'test_attr_ts'), ('2023-05-31 11:00:00', 2000,2000000,200000000000000000,200000000000000000.202,true, 'test_ts1', 1000, 1000000, 1000000000, 100.11, false, 'test_attr_ts');
INSERT 2
> select 1699496698000::timestamp from ts_table;
          timestamp
-----------------------------
  2023-11-09 02:24:58+00:00
  2023-11-09 02:24:58+00:00
(2 rows)
> select * from test_ts.ts_table;
            time            |  e1  |   e2    |         e3         |  e4   |  e5  |    e6    | attr1 |  attr2  |   attr3    | attr4  | attr5 |    attr6
----------------------------+------+---------+--------------------+-------+------+----------+-------+---------+------------+--------+-------+---------------
  2023-05-31 10:00:00+00:00 | 1000 | 1000000 | 100000000000000000 | 1e+17 | true | test_ts1 |  1000 | 1000000 | 1000000000 | 100.11 | false | test_attr_ts
  2023-05-31 11:00:00+00:00 | 2000 | 2000000 | 200000000000000000 | 2e+17 | true | test_ts1 |  1000 | 1000000 | 1000000000 | 100.11 | false | test_attr_ts
(2 rows)
> select e1 from test_ts.ts_table where e2 < 2500000 group by e1 having e1 < 3000;
   e1
--------
  1000
  2000
(2 rows)
> select attr2 from test_ts.ts_table where attr1 < 2000 group by attr2 having attr2 < 3000000;
   attr2
-----------
  1000000
(1 row)
> select e1 from test_ts.ts_table order by e1 desc limit 1 offset 1;
   e1
--------
  1000
(1 row)
> select e1, attr1 from test_ts.ts_table order by e1 desc limit 1 offset 1;
   e1  | attr1
-------+--------
  1000 |  1000
(1 row)
> select e1, attr2 from test_ts.ts_table order by attr2 desc limit 1 offset 1;
   e1  |  attr2
-------+----------
  2000 | 1000000
(1 row)
> select e1, e2, e3, case e1 when 1000 then 10 when 2000 then 20 end as result from test_ts.ts_table where e3 < 300000000000000000;
   e1  |   e2    |         e3         | result
-------+---------+--------------------+---------
  1000 | 1000000 | 100000000000000000 |     10
  2000 | 2000000 | 200000000000000000 |     20
(2 rows)
> select attr1, attr2, attr6, case attr6 when 'test_attr_c1' then 10 when 'test_attr_c2' then 20 end as result from test_ts.ts_table where e3 < 300000000000000000;
  attr1 |  attr2  |    attr6     | result
--------+---------+--------------+---------
   1000 | 1000000 | test_attr_ts |   NULL
   1000 | 1000000 | test_attr_ts |   NULL
(2 rows)
> select e1, e2, e3, case e1 when 1000 then 10 when 1000 then 20 end as result from test_ts.ts_table where attr3 < 300000000000000000;
   e1  |   e2    |         e3         | result
-------+---------+--------------------+---------
  1000 | 1000000 | 100000000000000000 |     10
  2000 | 2000000 | 200000000000000000 |   NULL
(2 rows)
> select attr1, attr6, case attr6 when 'test_attr_c1' then 10 when 'test_attr_c2' then 20 end as result from test_ts.ts_table where attr2 < 2000000;
  attr1 |    attr6     | result
--------+--------------+---------
   1000 | test_attr_ts |   NULL
   1000 | test_attr_ts |   NULL
(2 rows)
> drop database if exists test_ts cascade;
DROP DATABASE
> drop database if exists ts_db cascade;
DROP DATABASE
> create ts database ts_db;
CREATE TS DATABASE
> create table ts_db.t1 (
                          kt timestamp not null,
                          ktz timestamptz,
                          i2 int2,
                          i4 int4,
                          i8 int8,
                          f4 float4,
                          d double,
                          bt varbytes,
                          c char,
                          nc nchar,
                          vc varchar,
                          nvc nvarchar,
                          b bool)
    tags (t1 int2 not null) primary tags(t1);
CREATE TABLE
> insert into ts_db.t1 values ('2022-01-01 11:22:33.456+08:00', '2022-01-01 11:22:33.456+08:00' , 0,0,0,0.0,0.0,'0','0','0','000','000',true,1);
INSERT 1
> select kt::int2, kt::int4, kt::int8, ktz::int2, ktz::int4, ktz::int8 from ts_db.t1;
       kt       |      kt       |      kt       |      ktz      |      ktz      |      ktz
----------------+---------------+---------------+---------------+---------------+----------------
  1641007353456 | 1641007353456 | 1641007353456 | 1641007353456 | 1641007353456 | 1641007353456
(1 row)
> select kt::float4, kt::double, ktz::float4, ktz::double from ts_db.t1;
          kt         |         kt         |        ktz         |        ktz
---------------------+--------------------+--------------------+---------------------
  1.641007415296e+12 | 1.641007353456e+12 | 1.641007415296e+12 | 1.641007353456e+12
(1 row)
> select kt::char, ktz::char, kt::nchar, ktz::nchar,kt::char(10), ktz::char(10), kt::nchar(10), ktz::nchar(10), kt::varchar, ktz::varchar,kt::nvarchar, ktz::nvarchar from ts_db.t1;
  kt | ktz | kt | ktz |     kt     |    ktz     |     kt     |    ktz     |              kt               |              ktz              |              kt               |              ktz
-----+-----+----+-----+------------+------------+------------+------------+-------------------------------+-------------------------------+-------------------------------+--------------------------------
   2 |   2 | 2  | 2   | 2022-01-01 | 2022-01-01 | 2022-01-01 | 2022-01-01 | 2022-01-01 03:22:33.456+00:00 | 2022-01-01 03:22:33.456+00:00 | 2022-01-01 03:22:33.456+00:00 | 2022-01-01 03:22:33.456+00:00
(1 row)
> select i2::int2, i2::int4, i2::int8, i4::int2, i4::int4, i4::int8, i8::int2, i8::int4, i8::int8 from ts_db.t1;
  i2 | i2 | i2 | i4 | i4 | i4 | i8 | i8 | i8
-----+----+----+----+----+----+----+----+-----
   0 |  0 |  0 |  0 |  0 |  0 |  0 |  0 |  0
(1 row)
> select i2::float4, i2::double, i4::float4, i4::double, i8::float4, i8::double from ts_db.t1;
  i2 | i2 | i4 | i4 | i8 | i8
-----+----+----+----+----+-----
   0 |  0 |  0 |  0 |  0 |  0
(1 row)
> select f4::int2, f4::int4, f4::int8, d::int2, d::int4, d::int8 from ts_db.t1;
  f4 | f4 | f4 | d | d | d
-----+----+----+---+---+----
   0 |  0 |  0 | 0 | 0 | 0
(1 row)
> insert into ts_db.t1 values ('2022-01-02 11:22:33.456+08:00', '2022-01-02 11:22:33.456+08:00' , -32768,-2147483648,-9223372036854774808,-9223372036854774808.1,-9223372036854774808.1,'1','1','1','2e3','2e3',false,1);
INSERT 1
> insert into ts_db.t1 values ('2022-01-03 11:22:33.456+08:00', '2022-01-03 11:22:33.456+08:00' , 32767,2147483647,9223372036854774807,9223372036854774807,9223372036854774807,'2','2','2','-2.2','-2.2',false,1);
INSERT 1
> select i2::int4, i2::int8, i4::int8 from ts_db.t1;
    i2   |   i2   |     i4
---------+--------+--------------
       0 |      0 |           0
  -32768 | -32768 | -2147483648
   32767 |  32767 |  2147483647
(3 rows)
> select i4::int2 from ts_db.t1;
ERROR: value is out of range for type int2
SQLSTATE: 22003
> select i8::int2 from ts_db.t1;
ERROR: value is out of range for type int2
SQLSTATE: 22003
> select i8::int4 from ts_db.t1;
ERROR: value is out of range for type int4
SQLSTATE: 22003
> select f4::int2 from ts_db.t1;
ERROR: value is out of range for type int2
SQLSTATE: 22003
> select f4::int4 from ts_db.t1;
ERROR: value is out of range for type int4
SQLSTATE: 22003
> select d::int2 from ts_db.t1;
ERROR: value is out of range for type int2
SQLSTATE: 22003
> select d::int4 from ts_db.t1;
ERROR: value is out of range for type int4
SQLSTATE: 22003
> select i2::char, i4::char,i8::char, i2::nchar, i4::nchar, i8::nchar, i2::char(10), i4::char(10), i8::char(10),i2::nchar(10), i4::nchar(10), i8::nchar(10), i2::varchar, i4::varchar, i8::varchar, i2::nvarchar, i4::nvarchar, i8::nvarchar from ts_db.t1;
  i2 | i4 | i8 | i2 | i4 | i8 |   i2   |     i4     |     i8     |   i2   |     i4     |     i8     |   i2   |     i4      |          i8          |   i2   |     i4      |          i8
-----+----+----+----+----+----+--------+------------+------------+--------+------------+------------+--------+-------------+----------------------+--------+-------------+-----------------------
   0 |  0 |  0 | 0  | 0  | 0  |      0 |          0 |          0 | 0      | 0          | 0          | 0      | 0           | 0                    | 0      | 0           | 0
  -  | -  | -  | -  | -  | -  | -32768 | -214748364 | -922337203 | -32768 | -214748364 | -922337203 | -32768 | -2147483648 | -9223372036854774808 | -32768 | -2147483648 | -9223372036854774808
   3 |  2 |  9 | 3  | 2  | 9  |  32767 | 2147483647 | 9223372036 | 32767  | 2147483647 | 9223372036 | 32767  | 2147483647  | 9223372036854774807  | 32767  | 2147483647  | 9223372036854774807
(3 rows)
> select f4::char, d::char, f4::nchar, d::nchar, f4::char(10), d::char(10), f4::nchar(10), d::nchar(10), f4::varchar, d::varchar, f4::nvarchar, d::nvarchar from ts_db.t1;
  f4 | d | f4 | d |     f4     |     d      |     f4     |     d      |     f4      |      d      |     f4      |      d
-----+---+----+---+------------+------------+------------+------------+-------------+-------------+-------------+--------------
   0 | 0 | 0  | 0 |          0 |          0 | 0          | 0          | 0           | 0           | 0           | 0
  -  | - | -  | - | -9.2233720 | -9.2233720 | -9.2233720 | -9.2233720 | -9.22337203 | -9.22337203 | -9.22337203 | -9.22337203
   9 | 9 | 9  | 9 | 9.22337203 | 9.22337203 | 9.22337203 | 9.22337203 | 9.223372036 | 9.223372036 | 9.223372036 | 9.223372036
(3 rows)
> select f4::double, d::float4 from ts_db.t1;
            f4           |           d
-------------------------+-------------------------
                       0 |                      0
  -9.223372036854776e+18 | -9.223372036854776e+18
  9.223372036854776e+18  | 9.223372036854776e+18
(3 rows)
> insert into ts_db.t1 values ('2022-01-04 11:22:33.456+08:00', '2022-01-04 11:22:33.456+08:00' , 1,1,1,1.0,1.0,'3','3','3','3.3e3','2.3e3',true,1);
INSERT 1
> insert into ts_db.t1 values ('2022-01-05 11:22:33.456+08:00', '2022-01-05 11:22:33.456+08:00' , 1,1,1,1.0,1.0,'3','3','3','3.3e-3','3.3e-3',true,1);
INSERT 1
> select c::int2, c::int4, c::int8, vc::int2, vc::int4, vc::int8 from ts_db.t1;
  c | c | c |  vc  |  vc  |  vc
----+---+---+------+------+-------
  0 | 0 | 0 |    0 |    0 |    0
  1 | 1 | 1 | 2000 | 2000 | 2000
  2 | 2 | 2 |   -2 |   -2 |   -2
  3 | 3 | 3 | 3300 | 3300 | 3300
  3 | 3 | 3 |    0 |    0 |    0
(5 rows)
> select c::float4, c::double, vc::float4, vc::double from ts_db.t1;
  c | c |   vc   |   vc
----+---+--------+---------
  0 | 0 |      0 |      0
  1 | 1 |   2000 |   2000
  2 | 2 |   -2.2 |   -2.2
  3 | 3 |   3300 |   3300
  3 | 3 | 0.0033 | 0.0033
(5 rows)
> create table ts_db.t2 (
                          kt timestamp not null,
                          ktz timestamptz,
                          i2 int2,
                          i4 int4,
                          i8 int8,
                          f4 float4,
                          d double,
                          bt varbytes,
                          c char,
                          nc nchar,
                          vc varchar,
                          nvc nvarchar,
                          b bool)
    tags (t1 int2 not null) primary tags(t1);
CREATE TABLE
> insert into ts_db.t2 values ('2022-01-06 11:22:33.456+08:00', '2022-01-06 11:22:33.456+08:00' , 1,1,1641439353456,1641439353456.0,1641439353456.0,'3','3','3','2022-01-04 11:22:33.456+08:00','2022-01-04 11:22:33.456+08:00',true,1);
INSERT 1
> select vc::timestamp, vc::timestamptz, i8::timestamp, i8::timestamptz from ts_db.t2;
               vc               |              vc               |              i8               |              i8
--------------------------------+-------------------------------+-------------------------------+--------------------------------
  2022-01-04 03:22:33.456+00:00 | 2022-01-04 03:22:33.456+00:00 | 2022-01-06 03:22:33.456+00:00 | 2022-01-06 03:22:33.456+00:00
(1 row)
> set time zone 8;
SET
> select vc::timestamp, vc::timestamptz, i8::timestamp, i8::timestamptz from ts_db.t2;
               vc               |              vc               |              i8               |              i8
--------------------------------+-------------------------------+-------------------------------+--------------------------------
  2022-01-04 03:22:33.456+00:00 | 2022-01-04 11:22:33.456+08:00 | 2022-01-06 11:22:33.456+00:00 | 2022-01-06 11:22:33.456+08:00
(1 row)
> create table ts_db.t3 (kt timestamptz not null, s1 varchar(8) not null,s2 char(8),s3 varbytes(8)) tags (t1 int2 not null) primary tags(t1);
CREATE TABLE
> insert into ts_db.t3 values (now(), 'var', ' 你好2' , 'E''\\x01' , 1);
INSERT 1
> insert into ts_db.t3 values (now(), 'var', '\U' , 'E''\\x02' ,1);
INSERT 1
> select  s1, s2, s3 from ts_db.t3;
  s1  |   s2   |       s3
------+--------+-----------------
  var |  你好2 | \x45275c783031
  var | \U     | \x45275c783032
(2 rows)
> drop database ts_db cascade;
DROP DATABASE
> set cluster setting sql.pg_encode_short_circuit.enabled = false;
SET CLUSTER SETTING
