> CREATE FUNCTION t1(a int)
    RETURNs int
    LANGUAGE LUA
BEGIN
'function t1(a)
    local c = a * 100000000
    return c
end'
END;
ERROR: function named 't1' already exists. Please choose a different name
SQLSTATE: 42710
> select t1('a');
ERROR: t1(): <string>:2: cannot perform mul operation between string and number
stack traceback:
	<string>:2: in main chunk
	[G]: ?
