> CREATE ts DATABASE test_varchar1;
CREATE TS DATABASE
> CREATE TABLE test_varchar1.d11 (k_timestamp timestamp not null,
                                e1 varchar(254) ,
                                e2 nvarchar(63))
attributes (t1_attribute int not null) primary tags(t1_attribute);
CREATE TABLE
> INSERT INTO test_varchar1.d11  VALUES ('2018-10-10 10:00:00', 'a','中', 1);
INSERT 1
> INSERT INTO test_varchar1.d11  VALUES ('2018-10-10 10:00:01', '!','！', 2);
INSERT 1
> INSERT INTO test_varchar1.d11  VALUES ('2018-10-10 10:00:02', 'b','c', 3);
INSERT 1
> INSERT INTO test_varchar1.d11  VALUES ('2018-10-10 10:00:03', '中文abcPOL!123！','中文abcPOL!123！', 4);
INSERT 1
> INSERT INTO test_varchar1.d11  VALUES ('2018-10-10 10:00:04', '中文abcPOL!123！a()901-9@POP!《》？？。~~！！@yingyu*1中文abcPOL!123！a()901-9@POP!《》？？。~~！！@yingyu*1中文abcPOL!123！a()901-9@POP!《》？？。~~！！@yingyu*1中文abcPOL!123！a()901-9@POP!《》？？。~~！！@yingt1',
                                       '中文abPOL!123！a(01-OP!《》？？。~~！！@yingy*1中文ab!123！a()901-9!《》？。~！！@', 5);
INSERT 1
> INSERT INTO test_varchar1.d11  VALUES ('2018-10-10 10:00:05', '中文abcPOL!123！a()901-9@POP!《》？？。~~！！@yingyu*1中文abcPOL!123！a()901-9@POP!《》？？。~~！！@yingyu*1中文abcPOL!123！a()901-9@POP!《》？？。~~！！@yingyu*1中文abcPOL!123！a()901-9@POP!《》？？。~~！！@yingt11',
                                       '中文abPOL!123！a(01-OP!《》？？。~~！！@yingy*1中文ab!123！a()901-9!《》？。~！！@', 6);
ERROR: value '中文abcPOL!123！a()901-9@POP!《》？？。~~！！@yingyu*1中文abcPOL!123！a()901-9@POP!《》？？。~~！！@yingyu*1中文abcPOL!123！a()901-9@POP!《》？？。~~！！@yingyu*1中文abcPOL!123！a()901-9@POP!《》？？。~~！！@yingt11' too long for type VARCHAR(254) (column e1)
SQLSTATE: 22001
> INSERT INTO test_varchar1.d11  VALUES ('2018-10-10 10:00:06', '中文abcPOL!123！a()901-9@POP!《》？？。~~！！@yingyu*1中文abcPOL!123！a()901-9@POP!《》？？。~~！！@yingyu*1中文abcPOL!123！a()901-9@POP!《》？？。~~！！@yingyu*1中文abcPOL!123！a()901-9@POP!《》？？。~~！！@yingt1',
                                       '中文abPOL!123！a(01-OP!《》？？。~~！！@yingy*1中文ab!123！a()901-9!《》？。~！！@1', 7);
ERROR: value '中文abPOL!123！a(01-OP!《》？？。~~！！@yingy*1中文ab!123！a()901-9!《》？。~！！@1' too long for type NVARCHAR(63) (column e2)
SQLSTATE: 22001
> INSERT INTO test_varchar1.d11  VALUES ('2018-10-10 10:00:07', 'a'('a'),'中'('a'), 8);
ERROR: at or near "(": syntax error
SQLSTATE: 42601
DETAIL: source SQL:
INSERT INTO test_varchar1.d11  VALUES ('2018-10-10 10:00:07', 'a'('a'),'中'('a'), 8)
                                                                 ^
HINT: try \h VALUES
> INSERT INTO test_varchar1.d11  VALUES ('2018-10-10 10:00:08', 'aaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbaaaaabbbbbaaaaabbbb','aaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccabc', 9);
INSERT 1
> INSERT INTO test_varchar1.d11  VALUES ('2018-10-10 10:00:09', 'aaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbaaaaabbbbbaaaaabbbb1','aaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccabc', 10);
ERROR: value 'aaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbaaaaabbbbbaaaaabbbb1' too long for type VARCHAR(254) (column e1)
SQLSTATE: 22001
> INSERT INTO test_varchar1.d11  VALUES ('2018-10-10 10:00:10', 'aaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbaaaaabbbbbaaaaabbbb','aaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccabc1', 11);
ERROR: value 'aaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccabc1' too long for type NVARCHAR(63) (column e2)
SQLSTATE: 22001
> SELECT e1,e2 FROM test_varchar1.d11 ORDER BY k_timestamp;
                                                                                                                                e1                                                                                                                               |                                         e2
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------------------------------------------------------------------------
  a                                                                                                                                                                                                                                                              | 中
  !                                                                                                                                                                                                                                                              | ！
  b                                                                                                                                                                                                                                                              | c
  中文abcPOL!123！                                                                                                                                                                                                                                               | 中文abcPOL!123！
  中文abcPOL!123！a()901-9@POP!《》？？。~~！！@yingyu*1中文abcPOL!123！a()901-9@POP!《》？？。~~！！@yingyu*1中文abcPOL!123！a()901-9@POP!《》？？。~~！！@yingyu*1中文abcPOL!123！a()901-9@POP!《》？？。~~！！@yingt1                                         | 中文abPOL!123！a(01-OP!《》？？。~~！！@yingy*1中文ab!123！a()901-9!《》？。~！！@
  aaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbaaaaabbbbbaaaaabbbb | aaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccaaaaabbbbbcccccabc
(6 rows)
> DROP DATABASE test_varchar1 cascade;
DROP DATABASE
