> SELECT e6,code1 FROM test_SELECT_col.t1 WHERE e6=true AND code1=100 order by k_timestamp;---BUG
   e6  | code1
-------+--------
  true |   100
(1 row)
> SELECT e7,k_timestamp FROM test_SELECT_col.t1 WHERE e7='2020-1-1 12:00:00.000' AND k_timestamp>=now() order by k_timestamp;
             e7             |        k_timestamp
----------------------------+----------------------------
  2020-01-01 12:00:00+00:00 | 2034-01-24 02:09:13+00:00
  2020-01-01 12:00:00+00:00 | 2034-01-24 03:09:13+00:00
  2020-01-01 12:00:00+00:00 | 2034-01-24 04:09:13+00:00
  2020-01-01 12:00:00+00:00 | 2034-01-25 04:09:13+00:00
(4 rows)
> SELECT e10,e11,e12 FROM test_SELECT_col.t1 WHERE e10='test时间精度通用查询测试！！！@TEST1' AND e11='t' AND e12='test时间精度通用查询测试！！！@TEST1' order by k_timestamp;
                  e10                  | e11 |                 e12
---------------------------------------+-----+---------------------------------------
  test时间精度通用查询测试！！！@TEST1 | t   | test时间精度通用查询测试！！！@TEST1
  test时间精度通用查询测试！！！@TEST1 | t   | test时间精度通用查询测试！！！@TEST1
  test时间精度通用查询测试！！！@TEST1 | t   | test时间精度通用查询测试！！！@TEST1
  test时间精度通用查询测试！！！@TEST1 | t   | test时间精度通用查询测试！！！@TEST1
  test时间精度通用查询测试！！！@TEST1 | t   | test时间精度通用查询测试！！！@TEST1
  test时间精度通用查询测试！！！@TEST1 | t   | test时间精度通用查询测试！！！@TEST1
(6 rows)
> SELECT e13,e14,e15,e16 FROM test_SELECT_col.t1 WHERE e13='中' AND e14='test时间精度通用查询测试！！！@TEST1' AND e15='test时间精度通用查询测试！！！@TEST1' AND e16='test时间精度通用查询测试！TEST1xaa' order by k_timestamp;
  e13 |                 e14                  |                 e15                  |                                             e16
------+--------------------------------------+--------------------------------------+-----------------------------------------------------------------------------------------------
  中  | test时间精度通用查询测试！！！@TEST1 | test时间精度通用查询测试！！！@TEST1 | \x74657374e697b6e997b4e7b2bee5baa6e9809ae794a8e69fa5e8afa2e6b58be8af95efbc815445535431786161
  中  | test时间精度通用查询测试！！！@TEST1 | test时间精度通用查询测试！！！@TEST1 | \x74657374e697b6e997b4e7b2bee5baa6e9809ae794a8e69fa5e8afa2e6b58be8af95efbc815445535431786161
  中  | test时间精度通用查询测试！！！@TEST1 | test时间精度通用查询测试！！！@TEST1 | \x74657374e697b6e997b4e7b2bee5baa6e9809ae794a8e69fa5e8afa2e6b58be8af95efbc815445535431786161
  中  | test时间精度通用查询测试！！！@TEST1 | test时间精度通用查询测试！！！@TEST1 | \x74657374e697b6e997b4e7b2bee5baa6e9809ae794a8e69fa5e8afa2e6b58be8af95efbc815445535431786161
  中  | test时间精度通用查询测试！！！@TEST1 | test时间精度通用查询测试！！！@TEST1 | \x74657374e697b6e997b4e7b2bee5baa6e9809ae794a8e69fa5e8afa2e6b58be8af95efbc815445535431786161
  中  | test时间精度通用查询测试！！！@TEST1 | test时间精度通用查询测试！！！@TEST1 | \x74657374e697b6e997b4e7b2bee5baa6e9809ae794a8e69fa5e8afa2e6b58be8af95efbc815445535431786161
  中  | test时间精度通用查询测试！！！@TEST1 | test时间精度通用查询测试！！！@TEST1 | \x74657374e697b6e997b4e7b2bee5baa6e9809ae794a8e69fa5e8afa2e6b58be8af95efbc815445535431786161
(7 rows)
> SELECT e1,e2,e3,e4,e5,e6,e7,e8,e9,e10,e11,e12,e13,e14,e15,e16,e17,e18,e19,e20,e21,e22,code1,code2,code3,flag,val1,val2,location,color,name,state,tall,screen,age,sex,year,type FROM test_SELECT_col.t1 WHERE e17='test时间精度通用查询测试！！！@TEST1' AND e18='test时间精度通用查询测试！！！@TEST1' AND e19=b'\xaa' AND e20='test时间精度通用查询测试' order by k_timestamp;
    e1   |     e2      |          e3          |       e4        |     e5      |  e6  |            e7             |                  e8                  |                  e9                  |                  e10                   | e11 |                 e12                  | e13 |                 e14                  |                 e15                  |                                             e16                                              |                 e17                  |                 e18                  | e19  |                                  e20                                   |                                  e21                                   |                                  e22                                   | code1 | code2 | code3 | flag  | val1 | val2 | location | color  | name |             state              |   tall   |    screen    | age  |    sex     | year |      type
---------+-------------+----------------------+-----------------+-------------+------+---------------------------+--------------------------------------+--------------------------------------+----------------------------------------+-----+--------------------------------------+-----+--------------------------------------+--------------------------------------+----------------------------------------------------------------------------------------------+--------------------------------------+--------------------------------------+------+------------------------------------------------------------------------+------------------------------------------------------------------------+------------------------------------------------------------------------+-------+-------+-------+-------+------+------+----------+--------+------+--------------------------------+----------+--------------+------+------------+------+------------------
       0 |           0 |                    0 |               0 |           0 | true | 2020-01-01 12:00:00+00:00 | test时间精度通用查询测试！！！@TEST1 | test时间精度通用查询测试！！！@TEST1 | test时间精度通用查询测试！！！@TEST1   | t   | test时间精度通用查询测试！！！@TEST1 | 中  | test时间精度通用查询测试！！！@TEST1 | test时间精度通用查询测试！！！@TEST1 | \x74657374e697b6e997b4e7b2bee5baa6e9809ae794a8e69fa5e8afa2e6b58be8af95efbc815445535431786161 | test时间精度通用查询测试！！！@TEST1 | test时间精度通用查询测试！！！@TEST1 | \xaa | \x74657374e697b6e997b4e7b2bee5baa6e9809ae794a8e69fa5e8afa2e6b58be8af95 | \x74657374e697b6e997b4e7b2bee5baa6e9809ae794a8e69fa5e8afa2e6b58be8af95 | \x74657374e697b6e997b4e7b2bee5baa6e9809ae794a8e69fa5e8afa2e6b58be8af95 |   100 |   200 |   300 | false |  100 |  200 | beijing  | red    | \x26 | \x66756c756f6c6964617a686f75   | \x313630 | \x626967     |    2 | 社会性别女 | 1    | cuteandlovely
   20002 |     1000002 |          20000000002 | 1.0472e+06      |     -109810 | true | 2020-01-01 12:00:00+00:00 | test时间精度通用查询测试！！！@TEST1 | test时间精度通用查询测试！！！@TEST1 | test时间精度通用查询测试！！！@TEST1   | t   | test时间精度通用查询测试！！！@TEST1 | 中  | test时间精度通用查询测试！！！@TEST1 | test时间精度通用查询测试！！！@TEST1 | \x74657374e697b6e997b4e7b2bee5baa6e9809ae794a8e69fa5e8afa2e6b58be8af95efbc815445535431786161 | test时间精度通用查询测试！！！@TEST1 | test时间精度通用查询测试！！！@TEST1 | \xaa | \x74657374e697b6e997b4e7b2bee5baa6e9809ae794a8e69fa5e8afa2e6b58be8af95 | \x74657374e697b6e997b4e7b2bee5baa6e9809ae794a8e69fa5e8afa2e6b58be8af95 | \x74657374e697b6e997b4e7b2bee5baa6e9809ae794a8e69fa5e8afa2e6b58be8af95 |   200 |   200 |   300 | false |  100 |  200 | beijing  | red    | \x26 | \x66756c756f6c6964617a686f75   | \x313630 | \x626967     |    2 | 社会性别女 | 1    | cuteandlovely
   20002 |     2000003 |         -30000000003 |    22845.869141 |  200.123456 | true | 2020-01-01 12:00:00+00:00 | test时间精度通用查询测试！！！@TEST1 | test时间精度通用查询测试！！！@TEST1 | test时间精度通用查询测试！！！@TEST1   | t   | test时间精度通用查询测试！！！@TEST1 | 中  | test时间精度通用查询测试！！！@TEST1 | test时间精度通用查询测试！！！@TEST1 | \x74657374e697b6e997b4e7b2bee5baa6e9809ae794a8e69fa5e8afa2e6b58be8af95efbc815445535431786161 | test时间精度通用查询测试！！！@TEST1 | test时间精度通用查询测试！！！@TEST1 | \xaa | \x74657374e697b6e997b4e7b2bee5baa6e9809ae794a8e69fa5e8afa2e6b58be8af95 | \x74657374e697b6e997b4e7b2bee5baa6e9809ae794a8e69fa5e8afa2e6b58be8af95 | \x74657374e697b6e997b4e7b2bee5baa6e9809ae794a8e69fa5e8afa2e6b58be8af95 |   300 |   400 |   100 | false |  400 |  300 | tianjin  | yellow | \x28 | \x616973616965626979617a686f75 | \x313833 | \x736d616c6c |    3 | 社会性别男 | 7    | matureandgentle
   30003 |     3000000 |         -40000000004 |    39845.871094 | -200.123456 | true | 2020-01-01 12:00:00+00:00 | test时间精度通用查询测试！！！@TEST1 | test时间精度通用查询测试！！！@TEST1 | test时间精度通用查询测试！！！@TEST1   | t   | test时间精度通用查询测试！！！@TEST1 | 中  | test时间精度通用查询测试！！！@TEST1 | test时间精度通用查询测试！！！@TEST1 | \x74657374e697b6e997b4e7b2bee5baa6e9809ae794a8e69fa5e8afa2e6b58be8af95efbc815445535431786161 | test时间精度通用查询测试！！！@TEST1 | test时间精度通用查询测试！！！@TEST1 | \xaa | \x74657374e697b6e997b4e7b2bee5baa6e9809ae794a8e69fa5e8afa2e6b58be8af95 | \x74657374e697b6e997b4e7b2bee5baa6e9809ae794a8e69fa5e8afa2e6b58be8af95 | \x74657374e697b6e997b4e7b2bee5baa6e9809ae794a8e69fa5e8afa2e6b58be8af95 |   400 |   400 |   100 | false |  400 |  300 | hebei    | blue   | \x28 | \x616973616965626979617a686f75 | \x313833 | \x736d616c6c |    3 | 社会性别男 | 7    | matureandgentle
   32767 |  2147483647 |  9223372036854775807 |     9845.870117 |  200.123456 | true | 2020-01-01 12:00:00+00:00 | test时间精度通用查询测试！！！@TEST1 | test时间精度通用查询测试！！！@TEST1 | test时间精度通用查询测试！！！@TEST1   | t   | test时间精度通用查询测试！！！@TEST1 | 中  | test时间精度通用查询测试！！！@TEST1 | test时间精度通用查询测试！！！@TEST1 | \x74657374e697b6e997b4e7b2bee5baa6e9809ae794a8e69fa5e8afa2e6b58be8af95efbc815445535431786161 | test时间精度通用查询测试！！！@TEST1 | test时间精度通用查询测试！！！@TEST1 | \xaa | \x74657374e697b6e997b4e7b2bee5baa6e9809ae794a8e69fa5e8afa2e6b58be8af95 | \x74657374e697b6e997b4e7b2bee5baa6e9809ae794a8e69fa5e8afa2e6b58be8af95 | \x74657374e697b6e997b4e7b2bee5baa6e9809ae794a8e69fa5e8afa2e6b58be8af95 |   500 | NULL  |  NULL | false | NULL | NULL | NULL     | red    | NULL | NULL                           | NULL     | NULL         | NULL | NULL       | NULL | NULL
  -32768 | -2147483648 | -9223372036854775808 | 9.842323456e+09 |  200.123456 | true | 2020-01-01 12:00:00+00:00 | test时间精度通用查询测试！！！@TEST1 | test时间精度通用查询测试！！！@TEST1 | test时间精度通用查询测试！！！@TEST1   | t   | test时间精度通用查询测试！！！@TEST1 | 中  | test时间精度通用查询测试！！！@TEST1 | test时间精度通用查询测试！！！@TEST1 | \x74657374e697b6e997b4e7b2bee5baa6e9809ae794a8e69fa5e8afa2e6b58be8af95efbc815445535431786161 | test时间精度通用查询测试！！！@TEST1 | test时间精度通用查询测试！！！@TEST1 | \xaa | \x74657374e697b6e997b4e7b2bee5baa6e9809ae794a8e69fa5e8afa2e6b58be8af95 | \x74657374e697b6e997b4e7b2bee5baa6e9809ae794a8e69fa5e8afa2e6b58be8af95 | \x74657374e697b6e997b4e7b2bee5baa6e9809ae794a8e69fa5e8afa2e6b58be8af95 |   600 | NULL  |  NULL | false | NULL | NULL | NULL     | red    | NULL | NULL                           | NULL     | NULL         | NULL | NULL       | NULL | NULL
   32050 | NULL        |                 4000 |     9845.870117 |  200.123456 | true | 2020-01-01 12:00:00+00:00 | test时间精度通用查询测试！！！@TEST1 | test时间精度通用查询测试！！！@TEST1 | test时间精度通用查询测试！！！@TEST1\0 | t   | test时间精度通用查询测试！！！@TEST1 | 中  | test时间精度通用查询测试！！！@TEST1 | test时间精度通用查询测试！！！@TEST1 | \x74657374e697b6e997b4e7b2bee5baa6e9809ae794a8e69fa5e8afa2e6b58be8af95efbc815445535431786161 | test时间精度通用查询测试！！！@TEST1 | test时间精度通用查询测试！！！@TEST1 | \xaa | \x74657374e697b6e997b4e7b2bee5baa6e9809ae794a8e69fa5e8afa2e6b58be8af95 | \x74657374e697b6e997b4e7b2bee5baa6e9809ae794a8e69fa5e8afa2e6b58be8af95 | \x74657374e697b6e997b4e7b2bee5baa6e9809ae794a8e69fa5e8afa2e6b58be8af95 |   700 | NULL  |  NULL | false | NULL | NULL | NULL     | red    | NULL | NULL                           | NULL     | NULL         | NULL | NULL       | NULL | NULL
(7 rows)
> SELECT e1,e2,e3,e4,e5,e6,e7,e8,e9,e10,e11,e12,e13,e14,e15,e16,e17,e18,e19,e20,e21,e22,code1,code2,code3,flag,val1,val2,location,color,name,state,tall,screen,age,sex,year,type FROM test_SELECT_col.t1 WHERE e21='test时间精度通用查询测试！！！@TEST1' AND e22='test时间精度通用查询测试！！！@TEST1' order by k_timestamp;
  e1 | e2 | e3 | e4 | e5 | e6 | e7 | e8 | e9 | e10 | e11 | e12 | e13 | e14 | e15 | e16 | e17 | e18 | e19 | e20 | e21 | e22 | code1 | code2 | code3 | flag | val1 | val2 | location | color | name | state | tall | screen | age | sex | year | type
-----+----+----+----+----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-------+-------+-------+------+------+------+----------+-------+------+-------+------+--------+-----+-----+------+-------
(0 rows)
